@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    background-color: #101826;

}

.text {
    color: whitesmoke;

    font-size: 20px;



}

.name {
    color: white;
    align-items: center;
    text-align: center;




}

.image {
    background-image: url(../../public/analitics.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    flex: auto;
}

.title {
    color: white;



}

.Typewriter {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.pres {
    color: white;
    text-align: center;
}

.line {
    background-color: #185a94;
}

#title {
    color: white;
}

.abt {
    background-color: #101826;
    color: whitesmoke;
    background-size: cover;


}

.box {
    color: white;
}

.border {

    border-radius: 5px;
    padding-left: 2px;
    padding-top: 1px;

    box-shadow: 12px 5px black;




}

.border:hover {

    border-radius: 5px;
    box-shadow: 7px 10px 25px 1px #c5e6f0;
    transition: all 0.9s linear;



}

.bit {
    color: white;
    font-size: 90px;
    text-align: center;
}

.view {
    background-color: #0d1317;
    box-shadow: 1px 1px white;
    transition: all 0.9s linear;
    background-image: url(../../public/Arduino_Logo_Registered.svg.png);
    background-size: contain;
    background-repeat: no-repeat;

}
.img1{
    color: whitesmoke;
}

#imagen1 {
    margin-left: 100px;
    transform: rotate(270deg);
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#imagen2 {
    position: static;
    margin-left: 100px;
    transform: rotate(270deg);
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#video{
    margin-top: 5px;
    height: auto;
    display: cover;
    margin-left: auto;
    margin-right: auto;
    width: 500px; 
    max-width: 100%;
    

}




/*Code for stack overflow for put the responsive on the application*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}